*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cursive', Arial, Helvetica, sans-serif;
    justify-content: center;
}

/* Custom variables */
:root{
  --primary: rgb(0, 0, 0);
  --secondary: black;
  --alternative: hsla(100, 13%, 28%, 0.7);
  --bgHeaderFooter: 	#C3B1E1;
  --awesome: darkolivegreen;
  --bgCAbout: #56744o;
  --mainBox-shadow: .2rem .2rem .1rem •2rem rgba (105, 96, 96, 0.75);
  --card-box-shadow: •5vw .5vw 1vw rgba (85, 94, 99, 0.9);
  --text-shadow: 3rem .3rem .4rem rgba (78, 107, 91, 0.5);
  --mainBg: Ohsla(145, 83%, 20%, 0.39);
  --bgImg: linear-gradient(to right, var (--awesome), var (--mainBg))
}

/* Navbar & Footer*/
:is(.navbar, footer){
  background-color: var(--bgHeaderFooter);
}

/* Navbar */
:is(.nav-link) {
  color: black;
  text-align: center;
}

/* Navbar */
a{
  transition: all .5s;

  &:hover {
      transform: scale(1.2);
      text-decoration: underline;
  }
}
/* End of custom variables */

/* Landing Page */
.landing {
  background-color: white;
  padding: 10px;
  border: 2px solid #C3B1E1;
  border-radius: 10px;
  margin: 20px;
}

.img-fluid {
  width: 100%;
  max-width: 30rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 4px 8px #C3B1E1;
  border-radius: 40%; /* This creates an oval shape */
}


#details {
  padding: 1rem;
}


.typewriter {
  overflow: hidden;
  border-right: .15em solid rgb(149, 71, 151);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  font-size: 3.5rem; /* Adjust this value for larger font size */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(175, 75, 186); }
}

.typewriter-sub {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
  font-size: 1.5rem; /* Adjust this value for larger font size */
}

@media only screen and (max-width: 700px) {
  .img-fluid {
    max-width: 100%; 
    box-shadow: none; 
  }

  .typewriter {
    font-size: 3rem;
  }

  .typewriter-sub {
    font-size: 1.5rem; 
  }
}

@media only screen and (max-width: 300px) {
  .landing {
    padding: 5px; 
    margin: 10px;
  }

  .typewriter {
    font-size: 1.4rem; 
  }

  .typewriter-sub {
    font-size: 0.6rem;
  }
}

/* End of landing page */

/* About Page */
.about {
  background-color: white;
  padding: 20px;
  border: 2px solid 	#C3B1E1;
  border-radius: 10px;
  margin: 20px;
}

#heading {
  color: black;
  text-align: center; 
  margin-bottom: 20px; 
}

.img {
  width: 50%;
  float: right;
}

.text {
  width: 50%;
  float: left;
  font-size: 1.5rem;
  text-align: center;
}

.pic {
  max-width: 70%;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .img,
  .text {
    width: 100%; 
    float: none; 
    margin-bottom: 20px; 
  }

  .img {
    text-align: center; 
  }
}

@media only screen and (max-width: 300px) {
  .about {
    padding: 15px; 
    margin: 15px;
  }

  #heading {
    font-size: 1.8rem; 
  }

  .img,
  .text {
    width: 100%; 
    float: none; 
    margin-bottom: 10px;
  }

  .pic {
    max-width: 100%; 
  }
}
/* End of about page */

/* Resume page */
h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.5rem;
}
.resume {
  background-color: white; 
  padding: 10px;
  border: 2px solid 	#C3B1E1; 
  border-radius: 10px; 
  margin: 20px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin: 20px;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: 	#C3B1E1; 
  left: 50%;
  margin-left: -1.5px;
}

.timeline>li {
  margin-bottom: 20px;
  position: relative;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li>.timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid 	#C3B1E1; 
  border-radius: 2px;
  padding: 20px;
  position: relative;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
  background-color: 	#C3B1E1; 
}

.timeline>li>.timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid 	#C3B1E1;
  border-right: 0 solid 	#C3B1E1;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline>li>.timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid 	#C3B1E1; 
  border-right: 0 solid 	#C3B1E1; 
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline>li>.timeline-badge {
  color: 	#C3B1E1;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 1.1em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -15px;
  background-color: black;
  z-index: 100;
  border-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: black; 
}

.timeline-badge.success {
  background-color: black; 
}

.timeline-badge.warning {
  background-color: black; 
}

.timeline-badge.danger {
  background-color: black; 
}

.timeline-badge.info {
  background-color: black; 
}

.timeline-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
  margin-bottom: 10px;
  margin-top: 10px;
}

.timeline-body>p+p {
  margin-top: 5px;
}

@media only screen and (max-width: 590px) {
  .education.container-fluid {
    width: 89%;
  }
}

@media only screen and (max-width: 450px) {
  .timeline-panel {
    padding: 10px;
  }
  .timeline-panel p {
    font-size: 12px;
  }
  h4.timeline-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 590px) {
   
  .education.container-fluid {
    width: 89%;
}
}
@media only screen and (max-width: 450px) {
  .timeline-panel {
    padding: 10px;
}
.timeline-panel p {
  font-size: 12px;
}
h4.timeline-title {
    font-size: 16px;
}
}
@media only screen and (max-width: 380px) {
  .timeline-panel p {
  font-size: 9px;
}
h4.timeline-title {
    font-size: 12px;
}
}
@media only screen and (max-width: 350px) {
  .card {
    width: 90%;
  }
}
/* End of resume page */

/* Skills page */
.skills {
  background-color: white;
  padding: 10px;
  border: 2px solid 	#C3B1E1;
  border-radius: 10px;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

@media screen and (max-width: 700px) {
  .skills {
    padding: 15px;
    margin: 15px;
  }

  .card {
    width: calc(50% - 20px); 
  }
}

@media screen and (max-width: 300px) {
  .skills {
    padding: 10px;
    margin: 10px;
  }

  .card {
    width: calc(100% - 20px); 
  }
}
/* End of skills page */

/* Testimonials page */
.testimonial {
  background-color: white; 
  padding: 10px;
  border: 2px solid 	#C3B1E1; 
  border-radius: 10px; 
  margin: 20px;
}

.testimonials {
  text-align: center;
  margin-bottom: 30px;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 18rem; 
  margin-bottom: 20px; 
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
}

.card-text {
  font-size: 16px; 
}

.card-text span {
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .testimonial {
    padding: 15px;
    margin: 15px;
  }

  .card {
    width: calc(50% - 20px); 
  }
}
@media screen and (max-width: 300px) {
  .testimonial {
    padding: 10px;
    margin: 10px;
  }

  .card {
    width: calc(100% - 20px); 
  }
}
/* End of testimonials page */

/* Projects page */
.projects {
  background-color: white; 
  padding: 10px;
  border: 2px solid 	#C3B1E1;
  border-radius: 10px; 
  margin: 20px;
}

.card {
  border: 2px solid black; 
}

.card-title {
  color: black;
}

.card-text {
  color: #333; 
}

.pro-link {
  background-color: 	#C3B1E1; 
  color: white; 
  border: 1px solid 	#C3B1E1;
}

.pro-link:hover {
  background-color: #C3B1E1; 
  border-color: 	#C3B1E1; 
}

@media screen and (max-width: 700px) {
  .projects {
    padding: 15px;
    margin: 15px;
  }

  .card {
    border: 1px solid black;
  }
}

@media screen and (max-width: 300px) {
  .projects {
    padding: 10px;
    margin: 10px;
  }

  .card {
    border: 1px solid black;
  }
}
/* End of projects page */

/* Contact page */
.contact {
  background-color: white;
  padding: 10px;
  border: 2px solid #C3B1E1;
  border-radius: 10px; 
  margin: 20px;
}

.contact-form {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px; 
  margin: 20px;
}

.heading-text {
  color: #C3B1E1;
}

.form-control {
  border-color: #C3B1E1;
}

.btn {
  color: #C3B1E1; 
  border-color: #C3B1E1;
}

.btn:hover {
  background-color: #C3B1E1; 
  color: white; 
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 128, 0, 0.5);
}

@media screen and (max-width: 700px) {
  .contact,
  .contact-form {
    padding: 15px;
    margin: 10px;
  }
}

@media screen and (max-width: 300px) {
  .contact,
  .contact-form {
    padding: 10px;
    margin: 5px;
  }
}
/* End of contact page */

/* Footer */ 
footer {
  padding: 20px 0;
  text-align: center; 
  width: 100%;
}

.card1 {
  width: 60px;
  height: 60px;
  outline: none;
  border: 2px solid black;
  background: transparent;
  border-radius: 90px 5px 5px 5px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 0.8em;
  margin-left: 0.6em;
  fill: white;
}

.card2 {
  width: 60px;
  height: 60px;
  outline: none;
  border: 2px solid black;
  background: transparent;
  border-radius: 5px 90px 5px 5px;
  transition: .2s ease-in-out;
}

.facebook {
  margin-top: 0.8em;
  margin-left: -.5em;
  fill: white;
}

.card3 {
  width: 60px;
  height: 60px;
  outline: none;
  border: 2px solid black;
  background: transparent;
  border-radius: 5px 5px 5px 90px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.4em;
  margin-left: 0.8em;
  fill: white;
}

.card4 {
  width: 60px;
  height: 60px;
  outline: none;
  border: 2px solid black;
  background: transparent;
  border-radius: 5px 5px 90px 5px;
  transition: .2s ease-in-out;
}

.linkedin {
  margin-top: -.6em;
  margin-left: -0.6em;
  fill: white;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;

}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;

}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;

}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;

}

.card4:hover .discord {
  fill: white;
}
/* End of footer */

section {
  scroll-margin-block: 7rem;
}