*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, Arial, Helvetica, sans-serif;
    justify-content: center;
}

/* Custom variables */
:root {
  --primary: black; /* Dark Gray */
  --secondary: #000; /* Black */
  --alternative: hsla(100, 13%, 28%, 0.7); /* Dark Olive Green */
  --bgHeaderFooter: #C3B1E1; /* Light Purple */
  --awesome: #008080; /* Teal */
  --bgCAbout: #56744D; /* Darker Teal */
  --mainBox-shadow: 0.2rem 0.2rem 0.1rem rgba(105, 96, 96, 0.75); /* Corrected box-shadow */
  --card-box-shadow: 0.5vw 0.5vw 1vw rgba(85, 94, 99, 0.9); /* Corrected box-shadow */
  --text-shadow: 0.3rem 0.3rem 0.4rem rgba(78, 107, 91, 0.5); /* Corrected text-shadow */
  --mainBg: hsla(145, 83%, 20%, 0.39); /* Corrected HSLA */
  --bgImg: linear-gradient(to right, var(--awesome), var(--mainBg)); /* Fixed variable syntax */
}

/* Navbar & Footer */
:is(.navbar, footer) {
  background-color: var(--bgHeaderFooter);
}

/* Navbar Links */
:is(.nav-link) {
  color: var(--primary); /* Changed to primary color */
  text-align: center;
}


/* End of custom variables */

